@charset "UTF-8";


.img_carousel {
    max-width:100%;
    max-height:30em;
    width: 100%;
    height: 30em;
}
.img_produto_home{
    max-width:100%;
    width: 100%;
    height: 20em;
   	border-radius: 5px;
}

.img_produto_cadastro{
    max-width:100%;
    width: 100%;
    min-height: 30em;
   	max-height: 50em;
   	border-radius: 5px;
}

.img_produto_tabela{
    min-height: 7em;
   	max-height: 7em;
    min-width: 100%;
   	max-width: 100%;
   	border-radius: 5px;
}

.printaPC{	
	display: inline;
}
.printaCEL{
	display: none;
}

@media (max-width: 1210px) {

	.img_carousel {
	    max-width:100%;
	    max-height:20em;
	    width: 100%;
	    height: 20em;
	}
	.img_produto_home{
	    max-width:100%;
	    width: 100%;
    	height: 15em;
    	border-radius: 5px;
	}
			
		
	.img_produto_cadastro{
	    max-width:100%;
	    width: 100%;
    	height: 15em;
    	max-height:15em;
    	min-height:10em;
	   	border-radius: 5px;
	}	
		
	.printaPC{
		display: none;
	}	
	.printaCEL{
		display: inline;
	}
	
	.img_produto_tabela{
	    min-width: 100%;
	   	max-width: 100%;
	   	border-radius: 5px;
	}
	
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 240px;
  background-color: #f7f7f7;
}
.footer {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 240px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer p{	
  margin-bottom:0px;
}


/* Album styles
-------------------------------------------------- */
.album {
  background-color:#e9ecef;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}